*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.header{
	top: 0px;
	position: sticky;
}


.ul-cls{
    list-style-type: none;
	margin: -24px -8px 15px -8px;
	padding: 0px;
    overflow: hidden;
    background-color: #333;
	text-align:center;
	box-shadow: 2px 3px 5px #fff;
}

.dropdown{
	float: left;
	text-align:center;
	font-family:candara;
}

.a-link, .dropbtn {
	display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size:17px;
    font-family:candara;
}

.a-link:hover, .dropdown:hover .dropbtn {
	transition: 0.40s;
	background-color: red;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin:1px 20px 5px 20px;
}

.dropdown-content .a-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:16px; 
}

.dropdown-content .a-link:hover {
	background-color:rgba(79, 10, 136, 0.7);
	color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#firstlist
{
	color:orange; 
	padding: 12px 16px;
    display: block;
    text-align: left;
    font-size:17px; 
}

h1
{
	font-family:century gothic;
	font-size:250%;
	font-weight:100;
	text-decoration:underline;
	text-decoration:oblique;
	color: #ff5615eb;
	padding-left: 14%;
    padding-top: 90px;
	padding-bottom:10px;
	z-index:1;
}

.container{
  width:72%;
  height:auto;
  margin-bottom:20px;
} 
h2{
  font-size:380%;
    font-family: century gothic;
    margin-bottom: -40px;
    text-decoration-color: #e6632f;
    padding-left: 55px;
  padding-bottom:45px;
}

.footer{
	background:#fff;
	margin-left: 0px;
	margin-right: 0px;
}

footer{
	line-height: 10px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}