.header{
	top: 0px;
	position: sticky;
}

.ul-cls{
    list-style-type: none;
    margin: -24px -8px 15px -8px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}

li {
    float: left;
    text-align:center;
    font-family:candara;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size:17px;
    font-family:candara;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    transition: 0.40s;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin:1px 20px 5px 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:16px; 
}

.dropdown-content a:hover {background-color:rgba(79, 10, 136, 0.7);color: white;}

.dropdown:hover .dropdown-content {
    display: block;
}

#firstlist
{
	color:orange; 
	font-size:20px;
	font-weight:500;
	padding:17px 13px; 
}

.h1-cls
{
	/*font-family:Orbitron;
	font-size:250%;
	font-weight:100;
	text-decoration:underline;
	text-decoration:oblique;
	color: #ff5615eb;
	padding-left: 14%;
    padding-top: 90px;
	padding-bottom:10px;
	z-index:1;*/
	font-family: Orbitron;
    font-size:5em;
	/*font-style: italic;*/
	margin-bottom: -60px;
	margin-top: 37px;
	padding-left: 40px;
	color: #e6632f;
    text-shadow: 4px 4px 4px #89ff00;
}

.p-cls{
	font-family: century gothic;
    font-size: 115%;
    font-style: italic;
    padding-top: 165px;
    padding-left: 20%;
    margin-top: -8px;
	}
	
.container{
	background-image:url('images/323.jpg');
	background-size:100% 100%;
	width:85%;
	height:35vh;
	text-align:center;
	}

/*.container3{
	width:25%;
	height:800px;
	border:3px dashed orange;
	margin-left:75%;
}*/
	
/*.h1-cls{
	font-size:359%;
	font-family:Orbitron;
	margin-bottom:-40px;
	text-decoration-color:#e6632f;
	padding-left:55px;
	padding-top: 0px;
}*/	
	
.container-cls2{
	width:72%;
	height:auto;
	max-width:100%;
	display:inline-block;
	margin-top:40px;
	margin-left:55px;
}
	
.ul-cls2{
	list-style:none;
	margin:0px;
	padding:0px;
	background:rgba(23, 206, 145, 0.4);
	border:20px #e6632f ridge;
	border-radius: 60px; 
	margin-bottom: 50px;
	box-shadow: 8px 5px 8px #fff;
	height:435px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
.ul-cls2 a{
	text-decoration-color:red;
	font-family:candara;
	text-decoration:none;
	}
	
.a-cls{
	color: white;
	font-size:130%;
	padding-top: 5px;
	text-align:center;
	width:47%;
	margin-left:2%;
	display:inline-block;
	padding-top:14px;
	padding-bottom:14px;
}
	
.a-cls:hover.a-cls{
	background-color:red;
	font-family:'Gabriola';
	text-decoration-color:white;
	font-size:175%;
	text-decoration:underline;
	border:2px dashed white;
	border-radius: 15px;
	transition: 0.4s;
	box-shadow: 2px 2px 4px #fff;
	padding: 0px;
}

.container4{
	width:72%;
	height:auto;
	padding-left:55px;
}
	
.container123{
	width:72%;
	height:auto;
	overflow:hidden;
}
	
.p-cls22{
	margin:-10px;
}

h2{
	font-size:140%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-left:20px;
	text-decoration:none;
	padding-left:55px;
	color: white;
	font-weight: 100;
}

.container-cls{
	width:auto;
	height:auto;
	overflow:hidden;
	}
	
.li-cls{
	width:auto;
	height:auto;
	overflow:hidden;
	}

.p-cls3{		
	font-size: 140%;
	font-family: 'Courier New', Courier, monospace,sans-serif;
	color:white;
	background-color: transparent;
	font-weight: 400;
	font-style: italic;
	font-variant: small-caps;
	text-decoration: none;
	vertical-align: baseline;
	white-space: pre;
	white-space: pre-wrap;
}

.table-container-cls{
	width:72%;
	height:auto;
	color: white;
	box-align: left;
	padding-left: 55px;
}

.p-class12{
	font-size:150%;
	font-weight:900;
	font-family:century gothic;
	color:orange;
	text-align: center;
}

tr{
	color:white;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

table{
	/*color: white;*/
	text-transform: uppercase;
}

/*tr{
	width: 5px;
}*/

.footer{
	background:#fff;
	margin-left: -50px;
	margin-right: -8px;
}

footer{
	line-height: 10px;
	padding: 10px 0px 10px 0px;
}

.sec-footer{
	color: white;
	width: 72%;
	padding-left:4% ;
}

/*.h-footer{

}*/


.note{
	color: red;
	font-size:180%;
	font-family: Arial, Helvetica, sans-serif;
	padding-left:20px;
	text-decoration:none;
	padding-left:55px;
	margin-bottom: -20px;
}