@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background: #fece0c;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 4px 4px 2px rgba(254, 236, 164, 1);
}

.wrapper h2{
    text-align: center;
    letter-spacing: 3px;
    color: #332902;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.wrapper .input-field{
    margin-bottom: 10px;
}
.wrapper .input-field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.wrapper .input-field input[type="email"]{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.wrapper .input-field input[type="tel"]{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.wrapper textarea{
    height: 80px;
    resize: none;
}

.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #fece0c;
    color: #332902;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}

.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}